.tabs .tab-title > a.addTab{
	box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.5);
}

.content.panel .showForm.display input{
	border: none;
	background: none;
}

.mValidator .error small.error{
	display: block;
}
.mValidator small.error{
	display: none;
}

.labelTitle{
	border-bottom: 1px none white;
}
.valid-error span.has-tip{
	color:#E43636;
}
.valid-error span.has-tip:after{
	font:16px FontAwesome;
	content: " \f071";
}
